# Base Python Concepts
Author: Omar Al Darwish

## Hello World!

In [142]:
print("Hello World!")
print("This is a code cell, you can execute python code here!")

Hello World!
This is a code cell, you can execute python code here!

## Python as a glorified calculator

The following operators are available in python:

| Operators | Operation | Example |
| :-: | :-: | :-: |
| + | Addition | 2 + 2 = 4
| -	| Subtraction | 5 - 2 = 3
| /	| Division | 22 / 8 = 2.75 |
| *	| Multiplication | 3 * 3 = 9
| ** | Exponent | 2 ** 3 = 8
| % | Modulus/Remainder | 22 % 8 = 6
| // | Integer division	| 22 // 8 = 2


credit: https://www.pythoncheatsheet.org/cheatsheet/basics

In [32]:
print(2 + 2)
print(5 - 2)
print(22 / 8)
print(3 * 3)
print(2 ** 3)
print(22 % 8)
print(22 // 8)

4
3
2.75
9
8
6
2

Each line of code is executed sequentially and the output is displayed under the cell. If you want to comment inside a code block (it is generally good practice to do so!) you can use the hash sign (#):

In [1]:
#This is comment! I'm adding 10+10
10 + 10

5 - 2 #This is another comment :)

3

Notice how if we don't use the print statement, the result of only the last executed statement is channeled out, this is the default behaviour in Jupyter. To avoid using print to channel the output we can use the code snippet below to tell jupyter we want the result of all statemetns inside a cell to be displayed on the screen. Don't worry about what the code cell is doing for now, you can abstract that away and use it as a tool to channel output!

In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [5]:
#This is comment! I'm adding 10+10
10 + 10

5 - 2 #This is another comment :)

20

3

## Creating Variables (Reference Assignment)

Use the equal sign (=) to assign and object to a variable name. Whatever is right to the euqal sign is evaluated, and the resulting object is "assigend" to whatever is on the left side of the operator.

In [7]:
x = 10
y = 20

x
y

print("The variable x has the value:", x)
print("The variable y has the value:", y)

10

20

The variable x has the value: 10
The variable y has the value: 20

In Jupyter notebooks you can use the magic command %whos to inspect variables declared in your scope

In [10]:
%whos

Variable           Type             Data/Info
---------------------------------------------
InteractiveShell   MetaHasTraits    <class 'IPython.core.inte<...>eshell.InteractiveShell'>
x                  int              10
y                  int              20
z                  int              100

In [11]:
z=100
%whos

Variable           Type             Data/Info
---------------------------------------------
InteractiveShell   MetaHasTraits    <class 'IPython.core.inte<...>eshell.InteractiveShell'>
x                  int              10
y                  int              20
z                  int              100

In other environments, where magic commands don't exist, we can use locals() or globals()

In [3]:
locals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'x = 10\ny = 20\n\nprint("The variable x has the value:", x)\nprint("The variable y has the value:", y)',
  'get_ipython().run_line_magic(\'whos\', \'\')\nz=100\nprint()\nprint("The variable z has the value:", z)\nprint()\nget_ipython().run_line_magic(\'whos\', \'\')',
  'locals()'],
 '_oh': {},
 '_dh': [PosixPath('/Users/darwish/Documents/Dev/PythonJumpstart/notebooks')],
 'In': ['',
  'x = 10\ny = 20\n\nprint("The variable x has the value:", x)\nprint("The variable y has the value:", y)',
  'get_ipython().run_line_magic(\'whos\', \'\')\nz=100\nprint()\nprint("The variable z has the value:", z)\nprint()\nget_ipython().run_line_magic(\'whos\', \'\')',
  'locals()'],
 'Out': {},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x1071c3bb0>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x1071d67f0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x1071d67f0>,
 '_': '',
 '__': '',
 '___': '',
 '_i': '%whos\nz=100\nprint()\nprint("The variable z has the value:", z)\nprint()\n%whos',
 '_ii': 'x = 10\ny = 20\n\nprint("The variable x has the value:", x)\nprint("The variable y has the value:", y)',
 '_iii': '',
 '_i1': 'x = 10\ny = 20\n\nprint("The variable x has the value:", x)\nprint("The variable y has the value:", y)',
 'x': 10,
 'y': 20,
 '_i2': '%whos\nz=100\nprint()\nprint("The variable z has the value:", z)\nprint()\n%whos',
 'z': 100,
 '_i3': 'locals()'}

***

You can assign the same variable to different object types in python

In [12]:
x = 10
%whos
print()
x = "Hello World!"
%whos

Variable           Type             Data/Info
---------------------------------------------
InteractiveShell   MetaHasTraits    <class 'IPython.core.inte<...>eshell.InteractiveShell'>
x                  int              10
y                  int              20
z                  int              100

Variable           Type             Data/Info
---------------------------------------------
InteractiveShell   MetaHasTraits    <class 'IPython.core.inte<...>eshell.InteractiveShell'>
x                  str              Hello World!
y                  int              20
z                  int              100

For more advanced use cases, you can also access the memory ID of the object using the id() function

In [13]:
x = 15678
id(x)

y = "hello"
id(y)

z = y
id(y)

4409039184

4394827248

4394827248

***
watchout for reserved keywords, its best practice not to use these as variable names, for example don't call a variable print!

In [14]:
#assigning to a reserved keyword is bad practice
print = 10
print(10)

TypeError: 'int' object is not callable

Often python programmers will use a trailing underscore to avoid the above, to reset the variable assignment which we've done, we can simply delete that variable using the del command

In [16]:
del print
print_ = 10
print(print_)

10

***
You can also self-assign to variables, this is very hlepful if you're trying to keep a tally.

In [17]:
x = 10
print(x)
x = x + 10
print(x)

#or as short hand
x+=10
print(x)

10
20
30

The "+=" is an augmented operator, it literally translates to x = x + 10. You can also use augmented operators with the other math operators as well.

In [11]:
x = 1
x
x += 1
x
x += 1
x
x += 1
x

1

2

3

4

In [18]:
x = 2
x
x *= 2
x
x *= 2
x
x *= 2
x

2

4

8

16

In [12]:
#exponentiation
x = 2
x
x **= 2
x
x **= 2
x
x **= 2
x

2

4

16

256

In [13]:
#shave off the last digit
x = 135450 
x
x //= 10
x
x //= 10
x
x //= 10
x
x //= 10
x
x //= 10
x

135450

13545

1354

135

13

1

## Base Python Objects

Python is an object-oriented language, we will not be discussing this in detail, but if you're interested you can read more at: https://python.swaroopch.com/oop.html.

All you need to know for now is that when we write python code, we are fundamentally creating and manipulating objects. Each object belongs to a class (i.e. its type), classes can inherit from each other, and objects can be converted from one class to another if the operation is permitted. we can use the function type() to inspect the type of a variable.

### Numeric Types

#### Integers

An integer is the number zero (0), a positive natural number (1, 2, 3, etc.) or a negative integer with a minus sign (−1, −2, −3, etc.)

Source: https://en.wikipedia.org/wiki/Integer

In [11]:
x_1 = 10
x_1
type(x_1)

#or more neatly:

x_2 = -20 - 55
print("x_2 is a", type(x_2), "and has a value of:", x_2)

10

int

x_2 is a <class 'int'> and has a value of: -75

you can also test to see if an object is of a certain class by using the isinstance() function

In [13]:
x_3 = 10
isinstance(x_3, int)
isinstance(x_3, float)

True

False

You can also instatiate an object by calling its "constuctor" or "initializer". In python, constructors are called by calling the name of the class.

In [14]:
#these statemetns are equivalent
x_3 = int(1000)
x_4 = 1000

#### Floats

In computing, floating-point arithmetic (FP) is arithmetic that represents real numbers approximately, using an integer with a fixed precision, called the significand, scaled by an integer exponent of a fixed base. For example, 12.345 can be represented as a base-ten floating-point number:

![alternatvie text](https://wikimedia.org/api/rest_v1/media/math/render/svg/dcd36557db1b343d74991d99aeb50aadce64eb3a)

In practice, most floating-point numbers use base two, though base ten (decimal floating point) is also common.

source: https://en.wikipedia.org/wiki/Floating-point_arithmetic

In [18]:
y_1 = 10.5
y_1
type(y_1)
y_2 = 5 / 3
y_2
type(y_2)

10.5

float

1.6666666666666667

float

watch out for float precision, computer systems can't represent decimals accurately! Read more on the topic here: https://0.30000000000000004.com/

In [19]:
0.1 + 0.1 + 0.1

0.30000000000000004

If high decimal precision is required, you can using the package Decimal from python (more on packages later!)

In [19]:
from decimal import Decimal
1/10
Decimal(1/10)
Decimal(1)/Decimal(10)
Decimal(1)/Decimal(10) + Decimal(1)/Decimal(10) + Decimal(1)/Decimal(10)

0.1

Decimal('0.1000000000000000055511151231257827021181583404541015625')

Decimal('0.1')

Decimal('0.3')

floats can be converted, or more technically casted, into integers. Note that this is not a rounding operation, numbers to the right of the decimal are just dropped.

In [20]:
total = 10503.56
total
type(total)
total_integer = int(total)
total_integer
type(total_integer)

10503.56

float

10503

int

To round floats, you can use the round() function

In [21]:
T_fahrenheit = 100

#ugly
T_celsius = (T_fahrenheit - 32) * 5 / 9
print(T_fahrenheit, "degrees Fahrenheit", "is", T_celsius, "degrees celsius")

#better
T_celsius = round((T_fahrenheit - 32) * 5 / 9, 1)
print(T_fahrenheit, "degrees Fahrenheit", "is", T_celsius, "degrees celsius")

100 degrees Fahrenheit is 37.77777777777778 degrees celsius
100 degrees Fahrenheit is 37.8 degrees celsius

### Booleans

Boolean objects represent a truth value (True vs. False), a great example is what results from a comparision operation:

|Operator|Meaning|
|:-:|:-:|
|==|equal to
|!=|not equal to|
|<|less than|
|<=|less than or equal to|
|>|greater than|
|>=|greater than or equal to|

In [20]:
x = 10
y = 10 

x == y
x > y

True

False

In [21]:
z = x > y
z
type(z)

False

bool

float and integer comparison will check for the integer part

In [28]:
37.0 == 37

True

but watchout for decimal precision!

In [27]:
0.2 * 5 == 2

False

You can use the reserved keywords True and False to declare booleans directly.

In [22]:
a = True
b = False

You can perform binary operations using the reserved keywords, or/and/not.

In [24]:
print(a , "and", not b, "is", a and not b)
print(a , "and", b, "is", a and b)
print(not a , "and", not b, "is", not a and not b)
print(not a , "and", b, "is", not a and b)

print()


print(a , "or", not b, "is", a or not b)
print(a , "or", b, "is", a or b)
print(not a , "or", not b, "is", not a or not b)
print(not a , "or", b, "is", not a or b)

True and True is True
True and False is False
False and True is False
False and False is False

True or True is True
True or False is True
False or True is True
False or False is False

***
Numeric variables with value zero are  interpreted as a boolean False, any other value is a Boolean True

In [41]:
bool(0)
bool(0.0)
bool(10)
bool(15.3431)

False

False

True

True

be careful when using numeric data-types with binary operators, python binary operators are lazy and might take some shortcuts. The classic example of that is shown below, the first statement returns an integer while the second statement returns a boolean! More on that here: https://realpython.com/python-and-operator/

In [50]:
10 or True
True or 10

10

True

### Strings

strings are python objects we use to store and manipulate text data in python. Strings can be declared using double or single quotes:

In [25]:
var_1 = "Hello World!"
var_2 = 'Hello World!'

type(var_1)
type(var_2)
var_1 == var_2

str

str

True

under the hood, strings in python are stroed as sequences (collections) of characters, which is why they fall into a special gorup of python objects called iterables. This allows us to manipulate strings with index based methods using square brackets. This will be very helpful when we look into other collections like lists and tuples.

In [26]:
name = "John Doe"
name[0]
name[1]
name[0:4]
name[5:8]

'J'

'o'

'John'

'Doe'

you can calculate the length of a string, or other iterables, using the function len()

In [65]:
len(name)

8

***
Strings can be concatenated using the + operator

In [69]:
"hello" + " " + "world!"
"John" + " Doe"

'hello world!'

'John Doe'

the preferred way to do this however is by using the join method

In [72]:
" ".join(["John", "Doe"])
"_".join(["John", "Doe"])

'John Doe'

'John_Doe'

Using the * operator on strings has a nice property:

In [76]:
"hello "*10
#Useful for creating seperators for example:
"="*70

'hello hello hello hello hello hello hello hello hello hello '

'======================================================================'

***
There are many more useful strings methods, we can check them using dir()

In [77]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Or by calling the help() function

In [29]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [30]:
#methods for case manipulation
x = "hello world!"

x.upper()
x.lower()
x.casefold()
x.capitalize()
x.title()

'HELLO WORLD!'

'hello world!'

'hello world!'

'Hello world!'

'Hello World!'

***
You can replace specific characters using the replace() method:

In [81]:
x = "Pyhton is a great programming language"
x.replace(" ", "_")

'Pyhton_is_a_great_programming_language'

****
You can strip unwanted characters from the beginning and end of a string:

In [34]:
x = "--------------This is a title from an old-webpage--------------"
x
x.strip("-")

print("="*70)

x = "    This is a string with unwanted spaces     "
x
x.strip(" ")

print("="*70)

x = """



This is a multiline string in python.
It automatically inserts special characters
to encode a newline when you use
the triple quotation marks



"""
print(x)
x
x.strip()

'--------------This is a title from an old-webpage--------------'

'This is a title from an old-webpage'

======================================================================

'    This is a string with unwanted spaces     '

'This is a string with unwanted spaces'

======================================================================




This is a multiline string in python.
It automatically inserts special characters
to encode a newline when you use
the triple quotation marks

'\n\n\n\nThis is a multiline string in python.\nIt automatically inserts special characters\nto encode a newline when you use\nthe triple quotation marks\n\n\n\n'

'This is a multiline string in python.\nIt automatically inserts special characters\nto encode a newline when you use\nthe triple quotation marks'

The "\n" is a special character called an escape sequence, there are many others in python:

|Sequence | Meaning|
|:-:|:-:|
| \\' | Single Quote	|
| \\\\ | Backslash |
| \\n | New Line	|
| \\r | Carriage Return |
| \\t | Tab |
| \\b | Backspace |

In [82]:
#example using the \t operator
print("Name\temail")
print("John\tjohn.doe@gmail.com")

Name	email
John	john.doe@gmail.com

***
you can test if certain patterns exists within a string and serach for it's location using the find() method. If a string doesn't exist -1 will be returned. Another useful way to check is using the *in* keyword.

In [85]:
email = "john-doe@gmail.com"

email.find("gmail")
email.find("yahoo")

print("="*70)

#testing for "gmail"
email.find("gmail")>=0

#or a better way
"gmail" in email

print("="*70)

email.endswith(".com")
email.endswith(".org")

9

-1

======================================================================

True

True

======================================================================

True

False

***
formatted strings, f-strings, are a special way to blend and format numeric within strings, more info can be found here: https://mkaz.blog/code/python-string-format-cookbook/

In [74]:
first_name = "john" 
last_name = "doe"
title = "sr. manager"
email = "john.doe@gmail.com"
mobile = "+971 580 000 000"

print(f"{first_name} {last_name}, {title}\nemail\t{email}\nmobiel\t{mobile}")

print("="*70)

print(f"{first_name.capitalize()} {last_name.capitalize()}, {title.title()}\nemail\t{email}\nmobiel\t{mobile}")

john doe, sr. manager
email	john.doe@gmail.com
mobiel	+971 580 000 000
======================================================================
John Doe, Sr. Manager
email	john.doe@gmail.com
mobiel	+971 580 000 000

In [80]:
T_fahrenheit = 100
T_celsius = (T_fahrenheit - 32) * 5 / 9
print(f"{T_fahrenheit:0.2f} degrees Fahrenheit is {T_celsius:0.2f} degrees celsius")

print("="*70)

hour = 9
minute = 5
second = 11

print(f"The time is {hour:02d}:{minute:02d}:{second:02d}")

100.00 degrees Fahrenheit is 37.78 degrees celsius
======================================================================
The time is 09:05:11

***
You can tokenize (fancy word for split) a string using the split() method. This returns a list of substrings, more on lists later!

In [93]:
x = "Pyhton is a great programming language"
x.split()

email = "john_doe@gmail.com"
email.split("@")

['Pyhton', 'is', 'a', 'great', 'programming', 'language']

['john_doe', 'gmail.com']

### Datetime

In python we use the datetime package to handle dates،

In [53]:
from datetime import datetime, date

date1 = date(year=1993, month=2, day=1)
date1
print(date1)
type(date1)

print("="*70)

date2 = datetime(year=1993, month=2, day=1, hour=15, minute=5, second=20)
date2
print(date2)
type(date2)

print("="*70)

date3 = date.today()
date3
print(date3)
type(date3)

print("="*70)

date4 = datetime.now()
date3
print(date4)
type(date4)

datetime.date(1993, 2, 1)

1993-02-01

datetime.date

======================================================================

datetime.datetime(1993, 2, 1, 15, 5, 20)

1993-02-01 15:05:20

datetime.datetime

======================================================================

datetime.date(2022, 10, 17)

2022-10-17

datetime.date

======================================================================

datetime.date(2022, 10, 17)

2022-10-17 17:51:34.191839

datetime.datetime

date is the base class (type) and datetime is a sub-class: Every datetime is a date but not every date is a datetime!

In [62]:
isinstance(date1, date)
isinstance(date1, datetime)
isinstance(date2, date)
isinstance(date2, datetime)

True

False

True

True

***
You can convert strings to datetime objects using the strptime() method, but you have tp specift the format. Check https://strftime.org/ for a list of special sequences.

In [99]:
string = "2022-05-01"
new_date = datetime.strptime("2022-05-01", "%Y-%m-%d")
new_date

new_date = datetime.strptime("Sep 5, 1987", "%b %d, %Y")
new_date

datetime.datetime(2022, 5, 1, 0, 0)

datetime.datetime(1987, 9, 5, 0, 0)

Similary dates can be converted to strings using strftime():

In [101]:
new_date = datetime.now()
new_date
print(new_date.strftime("%A, %B %d %Y"))

datetime.datetime(2022, 10, 17, 19, 15, 44, 410262)

Monday, October 17 2022

***
A special object, timedelta, is used to compute time differences:

In [131]:
from datetime import timedelta

birthday = datetime(year=1993, month=2, day=1)
today = datetime.today()

delta = today - birthday 
delta
print(f"You were born {delta.days:,} days ago!" )

target_date = datetime.today() + timedelta(days=1000)
print(f"1000 Days from today will be a ", target_date.strftime("%A"), "!", sep="")

datetime.timedelta(days=10850, seconds=70050, microseconds=349324)

You were born 10,850 days ago!
1000 Days from today will be a Sunday!

## Sequences

The past sections discussed objects which contained single units of information, often times we want to create sequences or collections of objects. There are 4 base collection types in python:
* Lists
* Tuples
* Dictionaries
* Ranges

### Lists

A python list can be created using square brackets, items within the list can be any object and are seperated by commas

In [144]:
rooms = ["Living_Room", "Dining_Room", "Kitchen", "Bedroom_1", "Bedroom_2", "Bedroom_3"]
rooms
type(rooms)

['Living_Room',
 'Dining_Room',
 'Kitchen',
 'Bedroom_1',
 'Bedroom_2',
 'Bedroom_3']

list

you can check for the length of a list using the len() operator

In [149]:
len(rooms)

6

You can access individual items using square brackets and an integer index, we count starting at 0

In [150]:
rooms[0]
rooms[1]
rooms[2]
rooms[3]

'Living_Room'

'Dining_Room'

'Kitchen'

'Bedroom_1'

An error will be raised if you use an index beyond the size of the list

In [151]:
rooms[10]

IndexError: list index out of range

you can use negative indicies to start counting from the end of a list instead from the beginning

In [152]:
rooms[-1]
rooms[-2]

'Bedroom_3'

'Bedroom_2'

A sublist can be generate using the syntax start:end:step, ranges are end **exclusive** and the default step is 1. a bla

In [158]:
rooms = ["Living_Room", "Dining_Room", "Kitchen", "Bedroom_1", "Bedroom_2", "Bedroom_3"]

#index 1 to 4
rooms[1:4]

#index 2 to end
rooms[2:]

#start to index 3
rooms[:3]

#start to end with a step of -1
rooms[::-1]

['Dining_Room', 'Kitchen', 'Bedroom_1']

['Kitchen', 'Bedroom_1', 'Bedroom_2', 'Bedroom_3']

['Living_Room', 'Dining_Room', 'Kitchen']

['Bedroom_3',
 'Bedroom_2',
 'Bedroom_1',
 'Kitchen',
 'Dining_Room',
 'Living_Room']

you can also assign to list elements directly

In [228]:
rooms = ["Living_Room", "Dining_Room", "Kitchen", "Bedroom_1", "Bedroom_2"]
rooms

rooms[0] = "ZZZZZ"
rooms

rooms[3] = "XXXXX"
rooms


rooms[:3] = ["item_1", "item_2", "item_3"]
rooms

['Living_Room', 'Dining_Room', 'Kitchen', 'Bedroom_1', 'Bedroom_2']

['ZZZZZ', 'Dining_Room', 'Kitchen', 'Bedroom_1', 'Bedroom_2']

['ZZZZZ', 'Dining_Room', 'Kitchen', 'XXXXX', 'Bedroom_2']

['item_1', 'item_2', 'item_3', 'XXXXX', 'Bedroom_2']

***
Lists can be added together

In [212]:
rooms = ["Living_Room", "Dining_Room", "Kitchen", "Bedroom_1", "Bedroom_2"]
areas = ["Backyard", "Patio", "Balcony_1", "Balcony_2"]

rooms + areas

['Living_Room',
 'Dining_Room',
 'Kitchen',
 'Bedroom_1',
 'Bedroom_2',
 'Backyard',
 'Patio',
 'Balcony_1',
 'Balcony_2']

and can be duplicated with the * operator:

In [221]:
#A list with 9 rooms!
["Room"] * 9

['Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room', 'Room']

individual elements can be appended to lists using the append() method:

In [222]:
rooms = list()
rooms

rooms.append("Living_Room")
rooms

rooms.append("Dining_Room")
rooms

[]

['Living_Room']

['Living_Room', 'Dining_Room']

individual items can be removed from lists using the pop() method or the remove() funciton

In [223]:
rooms = ["Living_Room", "Dining_Room", "Kitchen", "Bedroom_1", "Bedroom_2", "Bedroom_3"]
rooms
#remove element at index 4
rooms.pop(4)
rooms

['Living_Room',
 'Dining_Room',
 'Kitchen',
 'Bedroom_1',
 'Bedroom_2',
 'Bedroom_3']

'Bedroom_2'

['Living_Room', 'Dining_Room', 'Kitchen', 'Bedroom_1', 'Bedroom_3']

In [224]:
rooms = ["Living_Room", "Dining_Room", "Kitchen", "Bedroom_1", "Bedroom_2", "Bedroom_3"]
rooms
rooms.remove("Kitchen")
rooms

['Living_Room',
 'Dining_Room',
 'Kitchen',
 'Bedroom_1',
 'Bedroom_2',
 'Bedroom_3']

['Living_Room', 'Dining_Room', 'Bedroom_1', 'Bedroom_2', 'Bedroom_3']

trying to remove an element which is not in the list will throw an error:

In [225]:
rooms = ["Living_Room", "Dining_Room", "Kitchen", "Bedroom_1", "Bedroom_2", "Bedroom_3"]
rooms.remove("Atrium")

ValueError: list.remove(x): x not in list

You can search for individual items using the index() and check if an item is in a list using the *in* keyword.

In [226]:
rooms = ["Living_Room", "Dining_Room", "Kitchen", "Bedroom_1", "Bedroom_2", "Bedroom_3"]
rooms.index("Kitchen")
"Kitchen" in rooms
"Atrium" in rooms
"Atrium" not in rooms

2

True

False

True

Searching for an item which is not in the list will throw an error.

In [190]:
rooms.index("Atrium")

ValueError: 'Atrium' is not in list

### Tuples

Tuples are a very pythonic data structures, they are basically fixed collections. You can declare a tuple using normal brackets, or by simply seperating items with a comma

In [233]:
tools = ("hammer", "screw-driver", "drill")
tools2 = "hammer", "screw-driver", "drill"

type(tools)
type(tools2)

tools == tools2

tuple

tuple

True

the main difference between lists and tuples is that tuples are immutable, i.e. when they are created you can't change the values inside of them nor their total size.

In [234]:
tools = ("hammer", "screw-driver", "drill")
tools.append("knife")

AttributeError: 'tuple' object has no attribute 'append'

In [235]:
tools = ("hammer", "screw-driver", "drill")
tools[0] = "tool_2"

TypeError: 'tuple' object does not support item assignment

tuple items can be unpacked directlty to variable names:

In [237]:
person = ("John", "Doe")
type(person)
first, last = person

first
type(first)

last
type(last)

tuple

'John'

str

'Doe'

str

you can convert between lists and tuples:

In [252]:
fruits = ("Apple", "Orange", "Pear")
fruits
type(fruits)

fruits_list = list(fruits)
fruits_list
type(fruits_list)

print("="*70)


rooms = ["Living_Room", "Dining_Room", "Kitchen", "Bedroom_1", "Bedroom_2"]
rooms
type(rooms)

rooms_tuple = tuple(rooms)
rooms_tuple
type(rooms_tuple)

('Apple', 'Orange', 'Pear')

tuple

['Apple', 'Orange', 'Pear']

list

======================================================================

['Living_Room', 'Dining_Room', 'Kitchen', 'Bedroom_1', 'Bedroom_2']

list

('Living_Room', 'Dining_Room', 'Kitchen', 'Bedroom_1', 'Bedroom_2')

tuple

### Dictionaries

Dictionaries are key,value pair structures in python:

In [241]:
person = {
    "first_name": "John",
    "last_name": "Doe", 
    "dob": date(year=1993, month=2, day=1),
    "email": "john.doe@gmail.com",
    "mobile": "+971 580 000 000",
    "address": "Unit 1 HIVE JVC, Dubai - UAE",
}

type(person)
person

dict

{'first_name': 'John',
 'last_name': 'Doe',
 'dob': datetime.date(1993, 2, 1),
 'email': 'john.doe@gmail.com',
 'mobile': '+971 580 000 000',
 'address': 'Unit 1 HIVE JVC, Dubai - UAE'}

you can access elements by using square brackets and a key value:

In [244]:
person['first_name']
person['last_name']
person['dob']

'John'

'Doe'

datetime.date(1993, 2, 1)

you can update the entry in a dictionary by direct assignment

In [254]:
person = {
    "first_name": "John",
    "last_name": "Doe", 
    "dob": date(year=1993, month=2, day=1),
    "email": "john.doe@gmail.com",
    "mobile": "+971 580 000 000",
    "address": "Unit 1 HIVE JVC, Dubai - UAE",
}

person

person["email"] = "new_email"

person

{'first_name': 'John',
 'last_name': 'Doe',
 'dob': datetime.date(1993, 2, 1),
 'email': 'john.doe@gmail.com',
 'mobile': '+971 580 000 000',
 'address': 'Unit 1 HIVE JVC, Dubai - UAE'}

{'first_name': 'John',
 'last_name': 'Doe',
 'dob': datetime.date(1993, 2, 1),
 'email': 'new_email',
 'mobile': '+971 580 000 000',
 'address': 'Unit 1 HIVE JVC, Dubai - UAE'}

calling the values() methods returns all values in the dictionary. You can cast this into a list or a tuple:

In [256]:
person.values()
list(person.values())

dict_values(['John', 'Doe', datetime.date(1993, 2, 1), 'new_email', '+971 580 000 000', 'Unit 1 HIVE JVC, Dubai - UAE'])

['John',
 'Doe',
 datetime.date(1993, 2, 1),
 'new_email',
 '+971 580 000 000',
 'Unit 1 HIVE JVC, Dubai - UAE']

calling the keys() methods retutns all keys in a dictionary

In [257]:
person.keys()
list(person.keys())

dict_keys(['first_name', 'last_name', 'dob', 'email', 'mobile', 'address'])

['first_name', 'last_name', 'dob', 'email', 'mobile', 'address']

calling the items method returns a list of tuples, each tuple contains a key-value pair:

In [260]:
person.items()
list(person.items())

dict_items([('first_name', 'John'), ('last_name', 'Doe'), ('dob', datetime.date(1993, 2, 1)), ('email', 'new_email'), ('mobile', '+971 580 000 000'), ('address', 'Unit 1 HIVE JVC, Dubai - UAE')])

[('first_name', 'John'),
 ('last_name', 'Doe'),
 ('dob', datetime.date(1993, 2, 1)),
 ('email', 'new_email'),
 ('mobile', '+971 580 000 000'),
 ('address', 'Unit 1 HIVE JVC, Dubai - UAE')]

### Ranges

Often times you would require a sequence of numbers as part of your program, the range() function is an easy short-hand to create iterables which count in a sequence, teh syntax is analogous to that of a slice operation: range(start, end, step), the default start is 0 and default step is 1.

By default, the range function return a python generator objects. Generators are advanced object types beyond the scope of this tutorial. For now, to expose the structure of a range object we can simply cast to a list of a tuple.

In [277]:
list(range(10))

list(range(4, 20, 2))

list(range(15, 25))

list(range(9, 0, -1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[4, 6, 8, 10, 12, 14, 16, 18]

[15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

## Control Flow

Until now our code cells ran linearly from top to bottom, in order to create complex programs we might require more complex flow patterns, this is achieved with conditionals, loops, and functions.

### Conditionals

A basic conditional statement in python consists of an if: statement block.

In [284]:
condition = False

print("Hello World!")

if condition:
    print("The condition is True!")

print("This will run regardless of the condition.")

Hello World!
This will run regardless of the condition.

you can add an else-block to each if-block, which will only execure if the condition is not met

In [285]:
condition = True

print("Hello World!")

if condition:
    print("The condition is True!")
else:
    print("The condition is False!")

print("This will run regardless of the condition.")

Hello World!
The condition is True!
This will run regardless of the condition.

in between if and else statement elif (else-if) statements can be added to check futher conditions:

In [288]:
grade = 90

if grade >= 90:
    print("You got an A")
elif grade >= 80:
    print("You got a B!")
elif grade >= 70:
    print("You got a C!")
elif grade >= 60:
    print("You got a D!")
else:
    print("Sorry you failed!")

You got an A

*** 
python also has a short-hand ternary operator for quick conditional evaluations:

In [293]:
age = 20
condition = "allowed" if age >= 18 else "not allowed" 

print(f"Your age is {age}, you are {condition} to attend the event!")

Your age is 20, you are allowed to attend the event!

### Case Statements

to avoid using many if-elif-else statement for specifc comparisons, you can use a match-case statement:

In [297]:
http_response_code = 404

match http_response_code:
    case 200:
        print("Success!")
    case 404:
        print("404 not found")
    case 502:
        print("502 Bad Gateway")
    case _:
        print("Response Code Not Known")

404 not found

### While Loops

while loops are use to repeat a block of code as long as a condition is true

In [300]:
counter=10

print("Sequence is starting ...")

while counter > 0:
    print(f"T - {counter:02d} to launch ...")
    counter-=1
    
print("Sequence ended")

Sequence is starting ...
T - 10 to launch ...
T - 09 to launch ...
T - 08 to launch ...
T - 07 to launch ...
T - 06 to launch ...
T - 05 to launch ...
T - 04 to launch ...
T - 03 to launch ...
T - 02 to launch ...
T - 01 to launch ...
Sequence ended

often times you want to break the loop from within the code block, this can be done using the break keyword

In [302]:
counter = 10

while True:
    print(counter)
    counter-=1
    
    if counter == 0:
        break

10
9
8
7
6
5
4
3
2
1

### For Loops

### Comprehensions

## Functions

### Lambda Functions

## importing packages